<form action="/login" method="post">
	<div>
  	<label>Username:</label>
  	<input type="text" name="username" /><br/>
	</div>
	<div>
  	<label>Password:</label>
  	<input type="password" name="password" />
	</div>
	<div>
	  <input type="submit" value="Submit" />
	</div>
</form>
<p><small>Hint - bob:secret</small></p>
<p><small>Hint - joe:password</small></p>




<b>Get Token</b>
<form action="/getToken" method="post">
	<div>
  	<label>emails:</label>
  	<input type="text" name="emails" /><br />
	</div>

	<input type = "hidden" id="url_name" name = "url_name"><br />
	<script>var name = document.URL;
        document.getElementById("url_name").value = name;</script>
	<div>
	  <input type="submit" value="Submit" />
	</div>



</form>
<!--
<b>Test</b>
<form action="/testEmails" method="post">
    <div>
        <label>Test Emails:</label>
        <input type="text" name="emails" /><br/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form> -->
