
<b>Sign up with Token</b>
<form action="/api/register" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" /><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Name:</label>
        <input type="text" name="name" />
    </div>
    <input id="token" type="hidden" name="token" value="" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

<script>
    (function(){
        var url = new URL(window.location.href);
        var token = url.searchParams.get("token");

        document.getElementById("token").value = token
    })();
</script>
